<div class="main">
  <a class="main-heading">STUDENTS LIST</a>
  {{#link-to "studentdetails" class="btn-success"}}
    Home
  {{/link-to}}
  {{#link-to "newlist" class="btn-success"}}
    New+
  {{/link-to}}
  <hr>
</div>
{{outlet}}