<div class="new-record">
  <div class="new heading">
    STUDENT DETAILS
  </div>
  <div class="new">
    <label>REGISTRATION NUMBER</label>
    <input type="number" class="box" value="reg-num" placeholder="Registration number">
  </div>
  <div class="new">
    <label>FIRST NAME</label>
    <input type="text" class="box" value="first" placeholder="First name">
  </div>
  <div class="new">
    <label>LAST NAME</label>
    <input type="text" class="box" value="last" placeholder="Last name">
  </div>
  <div class="new">
    <label>PHONE NUMBER</label>
    <input type="number" class="box" value="ph_num" placeholder="Phone number">
  </div>
  <div class="new">
    <label>YEAR</label>
    <input type="number" class="box" value="year" placeholder="Year">
  </div>
  <div class="new">
    <label>CITY</label>
    <input type="text" class="box" value="city" placeholder="City">
  </div>
  <div class="new">
    <button class="btn-success" {{action "success"}}>Add</button>
  </div>
</div>