<div class="xyz">
  {{#each model as |studentUnit|}}
    <div class="abc" {{action "isShowingTranslucent" studentUnit}} role="button">
      <StudentListing @student={{studentUnit}}/>
    </div>
  {{/each}}
</div>

{{#if isShowingModal}}
  {{#modal-dialog
      onClose=(action "isShowingTranslucent" false)
    translucentOverlay=true
  }}
    <StudentListing @student={{student}}/>
    <button class="btn-success" onclick={{action "isShowingTranslucent" false}}>Close</button>
  {{/modal-dialog}}
{{/if}}
